<div *ngIf="loading" class="loading-initial">
  <app-spinner [overlay]="true"></app-spinner>
</div>

<main class="main-content">
  <app-filters (filtersChanged)="onFiltersChanged($event)"></app-filters>
  <h2>{{totalAnimes}} Animes</h2>

  <div *ngIf="error" class="error-container">
    <i class="fas fa-exclamation-circle"></i>
    <p>{{ 'home.error' | translate }}</p>
    <button (click)="loadAnimes()" class="retry-button">
      <i class="fas fa-redo"></i>
      {{ 'home.retry' | translate }}
    </button>
  </div>

  <div class="anime-grid" *ngIf="animes.length">
    <app-anime-card *ngFor="let anime of animes" [anime]="anime" [watched]="anime.isWatched"></app-anime-card>
  </div>

  <div class="loading-more" *ngIf="loading && animes.length">
    <app-spinner></app-spinner>
  </div>

  <div class="no-more-results" *ngIf="!hasMorePages && animes.length && !loading">
    <p>{{ 'home.no.more' | translate }}</p>
  </div>
</main>   