<div class="detail-container">
  <div *ngIf="loading" class="loading">
    <i class="fas fa-spinner fa-spin"></i>
    <p>{{ 'detail.loading' | translate }}</p>
  </div>

  <div *ngIf="error" class="error">
    <i class="fas fa-exclamation-circle"></i>
    <p>{{ error }}</p>
    <button class="back-button" (click)="goBack()">
      <i class="fas fa-arrow-left"></i>
      {{ 'detail.back' | translate }}
    </button>
  </div>

  <div *ngIf="anime && !loading && !error" class="anime-detail">
    <div class="content"
      [ngStyle]="{'background-image': anime.coverImage ? 'url(' + anime.coverImage + ')' : 'none'}"
    >
      <button class="zoom-button" (click)="showCoverModal = true" *ngIf="anime.coverImage">
        <i class="fas fa-search-plus"></i>
      </button>

      <div class="poster">
        <img [src]="anime.poster" [alt]="anime.title" />
      </div>

      <div class="info">
        <h1>{{anime.title}}</h1>

        <div class="meta">
          <p>
            <i class="fas fa-star"></i>
            <strong>{{ 'detail.rating' | translate }}:</strong>
            {{anime.average_rating}} / 100
          </p>
          <p>
            <i class="fas fa-calendar-alt"></i>
            <strong>{{ 'detail.aired' | translate }}:</strong>
            {{anime.start_date | date:'yyyy'}}
          </p>
          <p>
            <i class="fas fa-film"></i>
            <strong>{{ 'detail.episodes' | translate }}:</strong>
            {{anime.episode_count}}
          </p>
          <p>
            <i class="fas fa-clock"></i>
            <strong>{{ 'detail.duration' | translate }}:</strong>
            {{anime.episode_length}}
          </p>
          <p>
            <i class="fas fa-tag"></i>
            <strong>{{ 'detail.status' | translate }}:</strong>
            {{anime.status}}
          </p>
          <!-- <p>
            <i class="fas fa-theater-masks"></i>
            <strong>{{ 'detail.genres' | translate }}:</strong>
            {{anime.genres?.join(', ')}}
          </p> -->
        </div>

        <div class="synopsis">
          <h2>
            <i class="fas fa-book-open"></i>
            {{ 'detail.synopsis' | translate }}
          </h2>
          <p>{{anime.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para la imagen de portada -->
  <app-modal [visible]="showCoverModal" (closed)="showCoverModal = false">
    <div class="modal-body cover-modal-body">
      <img [src]="anime?.coverImage" [alt]="anime?.title" class="full-cover-image">
    </div>
  </app-modal>
</div> 