<div class="container">
  <h1>Juntos</h1>
  <div class="setup-container">
    <div class="add-user">
      <input type="text" class="input" 
        placeholder="Escribe el nombre de otro usuario" [value]="userToAdd" 
        (change)="updateUser($event)" 
      />
      <button class="button" (click)="addUser()">Agregar</button>
    </div>
    <div class="user-list">
      <span class="user-added" *ngFor="let user of userList">{{user}} <span>x</span></span>
      <button class="button" [disabled]="userList.length < 2" (click)="compare()">Ver Animes en común</button>
    </div>
  </div>

  <div class="anime-container">
    <app-anime-card *ngFor="let anime of watchedAnimes" [anime]="anime" [watched]="true"></app-anime-card>
  </div>
</div> 