<div *ngIf="anime" class="anime-card" [class.watched]="watched">
  <span class="anime-link">
    <img [routerLink]="['/anime', anime.id]" [src]="anime.poster" [alt]="anime.title" class="poster" loading="lazy">
    <div class="anime-info">
      <h3>{{ anime.title }}</h3>
      <div class="meta-info">
        <span class="episodes" *ngIf="anime.episode_count">
          <i class="fas fa-tv"></i>
          {{ anime.episode_count }} {{ 'home.episodes' | translate }}
        </span>
        <span class="rating" *ngIf="anime.average_rating">
          <i class="fas fa-star"></i>
          {{ parseFloat(anime.average_rating) | number:'1.1-1' }}
        </span>
      </div>
      <button *ngIf="showButton && userLoggedIn" 
        class="button" [class.watched]="watched" 
        (click)="toggleWatched()"
      >
        {{(loading ? 'loading' : watched ? 'remove.watched' : 'add.watched') | translate}}
      </button>
    </div>
  </span>
</div>